@import url("https://fonts.googleapis.com/css2?family=Hind:wght@300&display=swap");

html {
	height: 100%;
}
body {
	background: url(doc.jpg);
	background-position: center;
	background-size: cover;
	font-family: Hind;
}
#customOne {
	background: #337ab7;
}
hr {
	background: white;
	width: 95%;
}
